In [4]:
import pandas as pd
pd.__version__

'2.2.3'

In [3]:
pd.read_csv('car_fuel_efficiency.csv', header=None, nrows=5)

,0,1,2,3,4,5,6,7,8,9,10
0,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
1,170,3,159,3413.433758606219,17.7,2003,Europe,Gasoline,All-wheel drive,0,13.231728906241411
2,130,5,97,3149.6649342200353,17.8,2007,USA,Gasoline,Front-wheel drive,0,13.688217435463793
3,170,NaN,78,3079.03899736884,15.1,2018,Europe,Gasoline,Front-wheel drive,0,14.246340998160866
4,220,4,NaN,2542.392401828378,20.2,2009,USA,Diesel,All-wheel drive,2,16.91273559598635

In [5]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [5]:
len(df)

9704

In [6]:
df['fuel_type'].nunique()

2

In [7]:
df.isnull().sum().gt(0).sum()

np.int64(4)

In [9]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

23.759122836520497

In [6]:
# Initial median
median_before = df['horsepower'].median()

# Most frequent (mode)
mode_val = df['horsepower'].mode()[0]

# Fill NA with mode
df['horsepower'] = df['horsepower'].fillna(mode_val)

# New median
median_after = df['horsepower'].median()

In [7]:
median_before

149.0

In [13]:
import numpy as np

# Select Asian cars, only weight & model_year
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

# Compute XTX and inverse
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)

# y values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w
w = XTX_inv.dot(X.T).dot(y)

# Sum of weights
w.sum()

np.float64(0.5187709081074008)

In [8]:
median_after

152.0